.body{
    background-color: var(--DarkGrey);
    color: var(--White);
    width: calc(100% - 40px);
    height: 100px;
    padding: 20px;

    text-align: center;
}


.body > ul > li{
    list-style: none;
}

.body > ul > li > a{
    text-decoration: none;
    font-weight: 600;
    transition: 0.6;
    color:#990100;
}

.body > ul > li > a:hover{
    color: #e8e8e8;
}